.banner {
  background: url(https://plus.unsplash.com/premium_photo-1682126367699-e925894017b5?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8ZmFtaWxsZSUyMHJlZ2FyZGFudCUyMGxhJTIwdCVDMyVBOWwlQzMlQTl2aXNpb258ZW58MHx8MHx8fDA%3D);
  background-size: cover;
  background-position: center;
  text-align: center;
  align-items: center;
  color: white;
  padding: 80px 20px;
}

.banner h1 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 15px;
}

.banner h2 {
  font-size: 24px;
  font-weight: 300;
}
